.btn-progress-next {
  background-color: #f67599;
  color: white;
  padding-left: 3rem;
  padding-right: 3rem;
  border-radius: 6px;
}

.btn-progress-prev:hover {
  background-color: #7e7e7e;
  color: white;
  /* padding-left: 3rem; */
  /* padding-right: 3rem; */
  border-radius: 6px;
}

.btn-progress-next:hover {
  background-color: #ef3f71;
  color: rgb(255, 255, 255);
  /* text-shadow: 20px; */
  padding-left: 3rem;
  padding-right: 3rem;
  border-radius: 6px;
}