.icon-border {
  padding: 6px 12px;
  border: 2px solid black;
  border-radius: 50%;
}

.bg-black {
  background-color: black;
  color: white;
}

.number-icon {
  font-size: 14px;
  width: 10px;
  color: white;
}

.hr {
  width: 5rem;
  border: 2px solid black;
}